.container{
    max-width: 75%;
    margin: 0 auto;
}

.main-menu{
    font-size: 1em;
    font-weight: bold;
    padding: 20px 0;
    font-family: sans-serif;
}
body{
    background: url(images/фон.png);
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    margin: 0;
    bottom: 0;
}


.btn{
    color: white;
    font-weight: bold;
    padding: 10px;
    font-family: cursive;
}
.navigation {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

#underline {
    color: white;
} 

.header{
    background-color: rgba(66, 87, 180, 0.795);
    text-align: right;
    background-size: cover;
    color: white;
    }

.footer{
    background-color: rgba(66, 87, 180, 0.795);
    color: white;
    margin: 20px 0px 0px 0px;
    bottom: 0;
    width: 100%;
}

#underline {
    text-decoration: underline;
    color: white;
    margin-right: 10px;
}

main{
    background-color: rgb(66, 87, 180);
    color: white;
    padding-bottom: 20px;
}

.btn {
    text-decoration: none;
    color: #16381e;
    font-weight: bold;
    border: 2px solid #16381e;
    padding: 10px;
    border-radius: 5px;
    }

.btn:hover {
    transition: color 0.5s, border-color 0.5s;
    color: white;
    border-color: white;
}

.map {
	height: 60vh;
	width: 75%;
}